<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ tshirt.name }}</mat-card-title>
      <mat-card-subtitle class="price">
        Price:{{ tshirt.price | price }}
      </mat-card-subtitle>
      <mat-card-actions>
        <button
          id="addBtn"
          class="price button"
          mat-button
          (click)="addItem(tshirt)"
        >
          Add to cart
        </button>
        <span class="count"> {{ count }}</span>
        <button
          id="removeBtn"
          [disabled]="count === 0"
          class="price button"
          mat-button
          (click)="removeItem(tshirt.id)"
        >
          Remove from cart
        </button>
      </mat-card-actions>
      <img mat-card-l-image src="{{ tshirt.picture }}" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{ tshirt.description }}
  </mat-card-content>
</mat-card>
